# Default Haskell .gitignore
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

# IDEs
.idea/
*.ipr
*.iml
*.code-workspace
.vscode

# Private data such as auth keys, and local scratch files.
local/
bashcfg

# Files generated during install
run